<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SL course management" parallel="methods">
    <test name="SL Course Management edge">
        <classes>
                <class name="testRunnner.ParallelTestRunner"/>
        </classes>
    </test>
</suite>